*{
    margin: 0;
    padding: 0;

}

#nav-container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    padding: 16px 120px;
}
.list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list ul li {
    list-style: none;
    font-size: 16px;
    /* gap: 32px; */
    padding-right: 32px;
}
.btn button{
    background-color: #469165;
    color: #ffffff;
    padding: 12px 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;

}

#banner-container .banner-box{
   
    /* margin: 115px auto; */
    background-image: url(./hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 674px;
    padding: 115px 120px;
    text-align: center;
}
.banner-box .para1{
    margin: 0 auto;
    margin-top: 115.5px;
    height: 16px;
    width: 250px;
    background-color: #ffffff;
    color: #469165;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
.banner-text h1{
    margin: 0 auto;
    margin-top: ;
    padding: 16px;
    font-size: 82px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}
.banner-box .para2 {
    margin: 0 auto;
    text-align: center;
    /* padding-bottom: 16px  ; */
    height: 60px;
    width: 717px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
} 

