* {
    margin: 0;
    padding: 0;

}

#nav-container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    padding: 16px 120px;
}

.list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list ul li {
    list-style: none;
    font-size: 16px;
    /* gap: 32px; */
    padding-right: 32px;
}

.btn button {
    background-color: #469165;
    color: #ffffff;
    padding: 12px 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    margin: 16px;

}

#banner-container .banner-box {

    /* margin: 115px auto; */
    background-image: url(./hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 674px;
    padding: 115px 120px;
    text-align: center;
}

.banner-box .para1 {
    margin: 0 auto;
    margin-top: 115.5px;
    height: 16px;
    width: 250px;
    background-color: #ffffff;
    color: #469165;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.banner-text h1 {
    margin: 0 auto;
    margin-top: ;
    padding: 16px;
    font-size: 82px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.banner-box .para2 {
    margin: 0 auto;
    text-align: center;
    /* padding-bottom: 16px  ; */
    height: 60px;
    width: 717px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

#intro-container {
    max-width: 1140px;
    margin: 120px auto ;
}

.intro-box h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #001931;
    padding-bottom: 16px;
    text-transform: capitalize;
}

#intro-container p {
    font-size: 16px;
    color: #627382;
    text-align: center;
    line-height: 24px;
    padding: 24px;
    padding-bottom: 44px;
}

.intro-card {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card-info {
    height: 300px;
    width: 322px;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.308);
    /* border: 1px solid black; */
    margin: 10px;

}

.card-info {
    text-align: center;
    /* margin: 0 auto; */
    /* padding: 0px 24px; */
}

.card-info img {

    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.card-info .image {
    margin: 50px auto 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;

}

.card-info h1 {
    font-size: 24px;
    font-weight: 600;
    padding: 30px auto;
    color: #001931;
    margin-bottom: 34px;
}

.image-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.image-text {
    margin: 102px 64px;
}

.image-text , .challenge-box p {
    font-size: 16px;
    display: block;
    font-weight: 400;
    color: #627382;
    /* padding-bottom: 24px; */
    line-height: 24px;
}

.image-text  h1 {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    color: #001931;
    padding-bottom: 16px;
    text-transform: capitalize;
}
.image-text ul li{
    list-style-image: url(./CheckCircle.png);
    list-style-position: inside;
    font-size: 16px;
    line-height: 20px;
    /* padding-left: 20px; */

}
#challenge-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    height: 384px;
    margin: 120px auto 120px ;
    text-align: center;
    background-color: #F7F6F2;
} 
.challenge-box h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
footer{
    background-color: #001931 ;
    color: #ffffff;

}
 .footer-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 30px 100px;
    /* height: 348px; */
    background-color: #001931 ;
    color: #ffffff;
}
 .footer-box ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* color: #ffffff;  */

 }
 .footer-text h4{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 16px;
    /* line-height: 20px; */
 }
 i{
    color: #ffffff;

 }
.copyright-para p{
    text-align: center;
    border-top: 1px solid #627382;
    padding-bottom: 16px ;
    padding-top: 16px;
}
